/* Reset des marges et padding par défaut */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style général du corps de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Header */
header {
    background-color: #333;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
}

/* Conteneur principal */
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
}

/* Section à propos */
#about {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#about h2 {
    font-size: 2em;
    margin-bottom: 15px;
}

/* Section compétences */
#skills {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#skills h2 {
    font-size: 2em;
    margin-bottom: 15px;
}

#skills ul {
    list-style-type: none;
}

#skills li {
    font-size: 1.2em;
    margin-bottom: 10px;
}

/* Section projets */
#projects {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#projects h2 {
    font-size: 2em;
    margin-bottom: 15px;
}

.project {
    margin-bottom: 20px;
}

.project h3 {
    font-size: 1.6em;
    margin-bottom: 10px;
}

.project p {
    font-size: 1.1em;
    color: #555;
}

/* Section centres d'intérêt */
#interests {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#interests h2 {
    font-size: 2em;
    margin-bottom: 15px;
}

#interests h3 {
    font-size: 1.5em;
    margin-top: 15px;
}

#interests p {
    font-size: 1.2em;
    color: #555;
}

#interests ul {
    list-style-type: disc;
    padding-left: 20px;
}

#interests li {
    font-size: 1.1em;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
}

footer a {
    color: #fff;
    text-decoration: none;
}
